@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --principal: #3d0000;
  --dark-color: #ff0000;
  --black: #000000;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.5);
  --border-hover: 0.1rem solid var(--black);
  --border-color: #d2d2d2;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --uno:#ffab1b;
  --icon-color:#ffab1b; 
  --error-color:#f31448;
}
 
 
section {
  padding: 2rem 3%;
}

.heading {
  text-align: center;
  margin-bottom: 0.2rem;
  position: relative;
}
/* .swiper {
  width: 100%;
  position: relative;
} */

::-webkit-scrollbar {
	height: 4px;
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 2px 6px rgba(187, 150, 1, 0.971);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
	background-color: var(--primary-color);
}


.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: black;
  z-index: 1;

}


.heading span {
  position: relative;
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  color: black;
  background: #fff;
  border: 1px solid black;
  z-index: 99 !important;
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--uno) 0%,
    #190a05 51%,
    var(--uno) 100%
  );
  width: 100%;
  margin: 12px;
  padding: 12px 0px;
  text-align: center;
  font-size: 18px;
  transition: 0.6s;
  background-size: 200% auto;
  color: white;
 
  border-radius: 10px;
  border: none;
  display: block;
  cursor: pointer;
}

.btn:hover {
  background-position: right center; /*  */
  color: #fff;
  text-decoration: none;
}

#search-btn {
  display: none;
}


.icons-container {
  position: relative;
  margin-top: 1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.3rem;
}

.icons-container .icons {
  text-align: center;
  display: grid;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.icons-container .icons i {
  text-align: center;
  font-size: 2.2rem;
  color: var(--uno);;
}

.icons-container .icons h3 {
  font-size: 1.5rem;
  color: var(--black);
  padding-bottom: 0.2rem;
}

.featured0 {
  background: beige;
}

.featured0 .featured-slider .box {
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.featured0 .featured-slider .box:hover {
  border: var(--border-hover);
}

.featured0 .featured-slider .box .image {
  padding: 0.8rem;
  background: linear-gradient(15deg, var(--uno) 40%, #fff 30.1%);
}

.featured0 .featured-slider .box:hover .image {
  transform: translateY(2.4rem);
}

.featured0 .featured-slider .box .image img {
  height: 12rem;
  width: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(7, 0, 0, 0.9);
}

.featured0 .featured-slider .box .icons {
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
}

.featured0 .featured-slider .box:hover .icons {
  transform: translateY(0%);
}

.featured0 .featured-slider .box .icons a {
  color: var(--black);
  font-size: 1.4rem;
  padding: 1rem 1rem;
}

.featured0 .featured-slider .box .icons a:hover {
  background: var(--uno);
  color: #fff;
}

.featured0 .featured-slider .box .content {
  background: #eee;
  padding: 1.5rem;
}

.featured0 .featured-slider .box .content .price {
  font-size: 1.2rem;
  color: var(--black);
  padding-top: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 1.2rem 1.2rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  border-radius: 50%;
  background: black;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: bold;
  font-size: 1.2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: white;
  color: black;
  font-weight: bold;
}

.newsletter {
  background: url(/static/img/principal.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.newsletter form {
  max-width: 20rem;
  margin-left: auto;
  text-align: center;
  padding: 1rem 0;
}

.newsletter form h3 {
  font-size: 1.6rem;
  color: #fff;
  /* padding-bottom: 0.2rem; */
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: none;
}
.newsletter .btn {
  padding: 10px 25px;
  width: 50%;
}
.newsletter form input {
  border: none;
}
.arrivals {
  background: beige;
}

.arrivals .arrivals-slider .box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(15deg, var(--uno) 40%, #fff 30.1%);
  gap: 1.2rem;
  padding: 2rem 1rem;
  box-shadow: 0 0.5rem 0.2rem rgba(6, 6, 6, 0.7);
  margin: 1rem 0.6rem;
}

.arrivals .arrivals-slider .box .image img {
  height: 9rem;
  width: 12rem;
  box-shadow: 0 0.5rem 1rem rgba(7, 0, 0, 0.9);
}

.arrivals .arrivals-slider .box .content h3 {
  font-size: 1.2rem;
  color: var(--black);
}

.arrivals .arrivals-slider .box .content .stars i {
  font-size: 0.9rem;
  color: gold !important;
}

.footer .box-container {
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));

  /* background-image: linear-gradient(
    180deg,
    var(--uno) 0%,
    #190a05 51%,
    var(--uno) 100%
  ); */
}

.footer .box-container .box h3 {
  margin-left: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  padding: 0.8rem 0;
}

.footer .box-container .box a {
  margin-left: 3rem;
  display: block;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 0;
}

.footer .box-container .box a i {
  color: var(--uno);
  padding: 5px;
  font-size: 12px;
  border-radius: 2px 2px;
  background: transparent;
}
.footer .box-container .box a:hover {
  font-weight: bold;
  
}
.footer .box-container .box a:hover i {
  color: black;
  background: var(--uno);
}

.footer .share {
  padding: 0.8rem 0;
  text-align: center;
}

.footer .share a {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: var(--uno);;
  margin: 0 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background: rgb(6, 6, 6);
}

.footer .credit {
  border-top: var(--border);

  padding-top: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 0;
  color: var(--light-color);
  text-align: center;
}

.footer .credit span {
  color: var(--principal);
}

 /* main {
	width: 100%;
	padding: 16px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;

} */

 main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

 ul{
  list-style: none;
 }

 main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
 
}

 main .head-title .left .breadcrumb li {
	color: var(--dark);
  font-size: 1.2rem;
}

 main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}

 main .head-title .left .breadcrumb li a.active {
	color: var(--primary-color);
	pointer-events: unset;
}


 main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

 main .box-info li {
	padding: 15px;

  border: 1px solid var(--uno);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

 main .box-info li .bx {
	width: 40px;
	height: 40px;
	border-radius: 10px;
  background: var(--uno);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 2rem;
  }
  .btn {
    padding: 8px 0;
    font-size: 12px;
  }
  #search-btn {
    display: inline-block;
  }

  .newsletter {
    background-position: right;
  }

  .newsletter form {
    margin-left: 0;
    max-width: 100%;
  }
  .footer .box-container {
    margin: 0;
    justify-content: left;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .box-container .box h3 {
    margin: 5px;
  }
  .footer .box-container .box a {
    padding: 0;
    font-size: 9px;
    margin: 5px;
  }
}

/* SWIPER INICIO */

.swiper_inicio {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20rem;
  padding: 0;
  margin: 0;
  position: relative;
}

.swiper_inicio .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  /* border-bottom: rgb(10, 10, 10) 8px solid; */
  /* box-shadow: 0 0.5rem 0.7rem rgba(58, 57, 57, 0.2); */
}
.swipe_title {
  text-align: inherit;
  margin-top: 16.3rem;
  font-size: 33px;
  color: black;
  font-weight: 600;
 
  -webkit-box-reflect: below -16px linear-gradient(transparent, rgba(0, 0, 0, 1)
        100%);
}
svg {
  width: 0;
  height: 0;
}
.text_slide {
  filter: url(#fire);
}

.slide1 {
  background-image: url(/static/img/banner9.avif);
  /* background-size: cover;
    background-position: center; */
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.slide2 {
  background-image: url(/static/img/banner4.avif);
  background-size: cover;
  background-position: center;
}
.slide3 {
  background-image: url(/static/img/banner3.avif);
  background-size: cover;
  background-position: center;
}
.slide4 {
  background-image: url(/static/img/banner8.avif);
  background-size: cover;
  background-position: center;
}
 