<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/estilo_login.css" />
   <script src="{{url_for('static', filename='lib/sweetalert2.min.js')}}"></script>

    <script src="{{url_for('static', filename='lib/jQuery3.js')}}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Inicio de Sesion</title>
  </head>

  <body>
    <div class="container-form sign-up">
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenido a Pastelitos</h2>
          <p>Si ya tienes una cuenta por favor inicia sesión aquí</p>
          <button class="sign-up-btn">Iniciar Sesión</button>
        </div>
      </div>

      <!-- FORMULARIO -->
      <form action="/CrearCuenta" id="frmcrearcuenta" class="formulario" method="post">
        <h2 class="create-account">Crear una cuenta</h2>
        <div class="iconos">
          <div class="border-icon">
            <i class="bx bxl-instagram"></i>
          </div>
          <div class="border-icon">
            <i class="bx bxl-gmail"></i>
          </div>
          <div class="border-icon">
            <i class="bx bxl-facebook-circle"></i>
          </div>
        </div>
        <p class="cuenta-gratis">Crear una cuenta gratis</p>
        <input type="text" name="nombres" placeholder="Nombres" />
        <input type="text" name="apellidos" placeholder="Apellidos" />
        <input type="email" name="correo" placeholder="Correo" />
        <input type="password" name="password" placeholder="Contraseña" />
        <button type="submit">Registrarse</button>
      </form>
    </div>

    <div class="container-form sign-in">
      <form id="iniciarSesion" method="post" action="/iniciarSesion" class="formulario">
        <h2 class="create-account">Iniciar Sesión</h2>
        <div class="iconos">
          <div class="border-icon">
            <i class="bx bxl-instagram"></i>
          </div>
          <div class="border-icon">
            <i class="bx bxl-gmail"></i>
          </div>
          <div class="border-icon">
            <i class="bx bxl-facebook-circle"></i>
          </div>
        </div>
        <p class="cuenta-gratis">¿Aún no tienes una cuenta?</p>
        <input name="correo"  type="email" placeholder="Email" />
        <input name="password" type="password" placeholder="Contraseña" />

        <button type="submit">Aceptar</button>
      </form>
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenido de nuevo</h2>
          <p>Si aún no tienes una cuenta por favor registrese aqui</p>
          <button class="sign-in-btn">Registrarse</button>
        </div>
      </div>
    </div>
    <script src="static/js/main_login.js"></script>
  </body>
</html>
