<dialog id="modalBuscador">
  <div class="container">
    <div class="info-container" style="width: 100%;">
      <!-- <div class="container-form"> -->
      <div id="btn_salirbuscador" class="btn_cancelar">
        <i class="bx bx-x"></i>
      </div>
      <h5 class="heading"><span>Busqueda avanzada</span></h5>
      <br />

      <div class="form-principalDT">
        <section class="featured0" id="featured">
          <h1 class="heading"><span>Productos encontrados</span></h1>

          <div class="swiper featured-slider">
            <div class="swiper-wrapper" id="swiperbusqueda">
          
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>
      </div>
    </div>

    <!-- imagen -->
    <!-- <div class="image-container">
      <div class="logo">
        <div class="nombre-empresa">
          <h3 style="letter-spacing: 4px; font-size: 24px">SAESVIN</h3>
        </div>
      </div>
      <br /><br />
      <div class="image2">
        <img
          src="{{url_for('static', filename='img/fondoform1.svg')}}"
          alt=""
        />
      </div>
    </div> -->
  </div>
</dialog>
