<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  <!-- Boxicons -->

  <link
    rel="stylesheet"
    href="{{url_for('static', filename='lib/jquery.dataTables.min.css')}}"
  />
  <!-- My CSS -->

  <script src="{{url_for('static', filename='lib/sweetalert2.min.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='lib/all.min.js')}}"></script> -->
  <script src="{{url_for('static', filename='lib/jQuery3.js')}}"></script>
  <script src="{{url_for('static', filename='lib/jquery.dataTables.min.js')}}"></script>

  <link rel="stylesheet" href="static/css/estilo_menu.css" />

  <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>

  <link rel="stylesheet" href="static/css/estilo_inicio.css" />
  <link rel="stylesheet" href="static/css/estilo_tablas.css" />
  <link rel="stylesheet" href="static/css/estilo_formulario.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
