<!DOCTYPE html>
<html lang="en">
  {%include 'cabecera.html'%}
  <body>
    {%include 'menu.html' %}

    <main class="contenedor1">
      <div class="swiper_inicio">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide1">
            <div class="text_slide">
              <h2 class="swipe_title">Mas de 100 años sirviendole!!</h2>
            </div>
          </div>
          <div class="swiper-slide slide2">
            <div class="text_slide">
              <h2 class="swipe_title">Todo para saciar su paladar!!</h2>
            </div>
          </div>
          <div class="swiper-slide slide3">
            <div class="text_slide">
              <h2 class="swipe_title">Un cupcake? :33</h2>
            </div>
          </div>
          <div class="swiper-slide slide4">
            <div class="text_slide">
              <h2 class="swipe_title">Quiero pastellll</h2>
            </div>
          </div>
        </div>
        <svg>
          <filter id="fire">
            <feTurbulence
              id="turbulence"
              baseFrequency="0.1 0.1"
              numOctaves="2"
              seed="2"
            >
              <animate attributeName="baseFrecuency" dur="4s"></animate>
            </feTurbulence>
            <feDisplacementMap in="SourceGraphic" scale="1"></feDisplacementMap>
          </filter>
        </svg>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>

      <section class="icons-container">
        <div class="icons">
          <i class="bx bxs-face-mask bx-tada bx-flip-horizontal"></i>
          <div class="content">
            <h3>Helados</h3>
          </div>
        </div>

        <div class="icons">
          <i class="bx bxs-beer bx-tada bx-flip-horizontal"></i>
          <div class="content">
            <h3>Cafes</h3>
          </div>
        </div>

        <div class="icons">
          <i class="bx bxs-user-voice bx-tada"></i>
          <div class="content">
            <h3>Atención al cliente</h3>
          </div>
        </div>

        <div class="icons">
          <i class="bx bxs-palette bx-tada"></i>
          <div class="content">
            <h3>Sabores</h3>
          </div>
        </div>
      </section>

      <section class="featured0" id="featured">
        <h1 class="heading"><span>Decoraciones de Metal</span></h1>

        <div class="swiper featured-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r1.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Candelero tres vasos</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="_BLANK" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r2.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Candelero de mesa</div>
                <a href="#" class="btn">ver detallles</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/q3.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Titulo</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r7.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Titulo</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r4.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Titulo</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r5.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Titulo</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>
            <div class="swiper-slide box">
              <div class="icons">
                <a href="#" class="fas fa-search"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                <img src="static/img/r6.jpg" alt="" />
              </div>
              <div class="content">
                <div class="price">Titulo</div>
                <a href="#" class="btn">Ver detalles</a>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </section>

      <section class="newsletter">
        <form action="">
          <h3>Trabajando con Pasión!!</h3>
          <input
            type="email"
            name="txtbuscarp"
            placeholder="Buscar Producto"
            id="txtbuscarp"
            class="box"
          />
          <input type="submit" value="Buscar" class="btn" />
        </form>
      </section>

      <section class="arrivals" id="arrivals">
        <h1 class="heading"><span>Lo Más Nuevo</span></h1>

        <div class="swiper arrivals-slider">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/dd4.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/t2.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/t3.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/dd3.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/dd2.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

        <div class="swiper arrivals-slider">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/sa1.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/sa2.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/sa3.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/sa4.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>

            <a href="#" class="swiper-slide box">
              <div class="image">
                <img src="static/img/sa5.jpg" alt="" />
              </div>
              <div class="content">
                <h3>Puntuación</h3>

                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </section>

      <section class="footer">
        <div class="box-container">
          <div class="box">
            <h3>Servicios</h3>
            <a href="#">
              <i class='bx bx-chevron-right'></i> Fabricación
            </a>
            <a href="#">
            <i class='bx bx-chevron-right'></i> Instalación
            </a>
            <a href="#">
              <i class='bx bx-chevron-right'></i> Mantenimiento</a
            >
          </div>

          <div class="box">
            <h3>Acerca de</h3>
            <a href="#"> <i class='bx bx-chevron-right'></i> historia </a>
            <a href="#"> <i class='bx bx-chevron-right'></i> Misión </a>
            <a href="#"> <i class='bx bx-chevron-right'></i> Visión </a>
          </div>

          <div class="box correo">
            <h3>Contactanos</h3>
            <a href="#"> <i class='bx bx-chevron-right'></i> +502 7832 3870</a>
            <a href="#"> <i class='bx bx-chevron-right'></i> +502 4448 1182</a>
            <a href="#" class="">
              <i class='bx bx-chevron-right'></i> pastelitos69@gmail.com
            </a>
            <!-- <img src="static/img/worldmap.png" class="map" alt="" /> -->
          </div>
        </div>

        <div class="share">
          <a href="#" class='bx bxl-facebook-circle'></a>
          <a href="#" class='bx bxl-instagram-alt' > </a>
          <a href="#" class='bx bxl-whatsapp' ></a>
        </div>

        <div class="credit">
          <span>Coporación Pastelitoss © 2023</span>
        </div>
      </section>
    </main>

    {% include 'pie.html'%}
  </body>
</html>
