<nav class="menu" id="menu">
  <div class="contenedor contenedor-botones-menu">
    <button id="btn-menu-barras" class="btn-menu-barras">
      <i class="bx bx-menu"></i>
    </button>
    <button id="btn-menu-cerrar" class="btn-menu-cerrar">
      <i class="bx bx-x"></i>
    </button>
  </div>

  <!-- <img class="imagen_logo" src="Img/logo55.png" alt=""> -->
  <div class="contenedor contenedor-enlaces-nav">
    <a class="logo1">
      <span class="logo">P</span>

      <span>astelitos </span>
      <span class="logo">B</span>
      <span>uu </span>
    </a>

    <div class="enlaces">
      <a id="btn-departamentos">
        <i class="bx bx-menu"></i>
        Nuestros Catalogos
      </a>

      <a href="/"> <i class="bx bx-home"></i> Inicio</a>
      <a href="/productos"> <i class="bx bxl-discord-alt"></i>Productos</a>
      <a href="/rebajas"> <i class="bx bxl-discord-alt"></i>Rebajas</a>
      <a href="productos.html"> <i class="bx bx-user"></i>Autenticarse</a>
    </div>
  </div>

  <div class="contenedor contenedor-grid">
    <div class="grid" id="grid">
      <div class="categorias">
        <button class="btn-regresar">
          <i class="fas fa-arrow-left"></i> Regresar
        </button>
        <h3 class="subtitulo">Categorias</h3>

        <a href="#" data-categoria="pasteles"
          >Pasteles<i class="fas fa-caret-right"></i>
        </a>
        <a href="#" data-categoria="panes"
          >Panes <i class="fas fa-caret-right"></i>
        </a>

        <a href="#" data-categoria="helados">Helados </a>
      </div>

      <div class="contenedor-subcategorias">
        <div class="subcategoria" data-categoria="pasteles">
          <div class="enlaces-subcategoria">
            <button class="btn-regresar">
              <i class="fas fa-arrow-left"></i> Regresar
            </button>
            <h3 class="subtitulo">Tipos de pasteles</h3>
            <a href="#">Pastel horneado</a>
            <a href="#">Pastel frio</a>
            <a href="#">Pastel de yogurt</a>
            <a href="#">Pastel de fruta</a>
          </div>

          <div class="banner-subcategoria">
            <a href="#">
              <img src="static/img/p3.jpg" />
            </a>
          </div>

          <div class="galeria-subcategoria">
            <a class="gal_sub" href="#">
              <img src="static/img/p1.png" />
            </a>
            <a class="gal_sub" href="#">
              <img src="static/img/p2.png" />
            </a>
          </div>
        </div>

        <div class="subcategoria" data-categoria="panes">
          <div class="enlaces-subcategoria">
            <button class="btn-regresar">
              <i class="fas fa-arrow-left"></i>Regresar
            </button>
            <h3 class="subtitulo">Tipo panes</h3>
            <a href="#">Pan de banano</a>
            <a href="#">Pan tradicional</a>
            <a href="#">Pan integral</a>
            <a href="#">Pan de Maiz</a>
            <a href="#">Pan de Trigo</a>
          </div>

          <div class="banner-subcategoria">
            <a href="#">
              <img src="static/img/t3.avif" />
            </a>
          </div>

          <div class="galeria-subcategoria">
            <a class="gal_sub" href="#">
              <img src="static/img/t1.jpg" />
            </a>
            <a class="gal_sub" href="#">
              <img src="static/img/t2.jpg" />
            </a>
          </div>
        </div>
        <!-- VENTANAS Y BALCONES -->
        <div class="subcategoria sub_oculto" data-categoria="helados">
          <div class="enlaces-subcategoria">
            <button class="btn-regresar">
              <i class="fas fa-arrow-left"></i>Regresar
            </button>
            <h3 class="subtitulo">Tipos de helados</h3>
            <a href="#">Helado granizado</a>
            <a href="#">Helado de bolas</a>
            <a href="#">Helado de yogurt</a>
            <a href="#">Helado varios sabores</a>
          </div>

          <div class="banner-subcategoria">
            <a href="#">
              <img src="static/img/h3.jpg" />
            </a>
          </div>

          <div class="galeria-subcategoria">
            <a class="gal_sub" href="#">
              <img src="static/img/h1.png" />
            </a>
            <a class="gal_sub" href="#">
              <img src="static/img/h2.jpg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
