<!DOCTYPE html>
<html lang="en">
  {%include 'cabecera.html'%}
  <body>
    {%include 'menu.html' %}
    <main class="contenedor1">
      <div class="cuerpo">
        <div class="head-title">
          <div class="left">
            <ul class="breadcrumb">
              <li>
                <a href="#">Generales</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Mis pedidos</a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="box-info">
          <li>
            <i class="bx bxs-cake bx-tada bx-flip-horizontal"></i>
          </li>
        </ul>

        <div class="table4">
          <table id="tblPedidos" class="display" style="width: 100%">
            <thead style="width: 100%">
              <tr>
                <th>#</th>
                <th>No Pedidos</th>
                <th>Serie</th>
                <th>Documento</th>
                <th>Fecha Pedido</th>
                <th>Estado Pedido</th>
                <th>Producto</th>
                <th>Costo</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              {% for t in tabla %}
              <tr>
                <td>{{loop.index }}</td>
                <td>{{t["nodocumento"]}}</td>
                <td>{{t["serie"]}}</td>
                <td>{{t["nombredocumento"]}}</td>
                <td>{{t["fechapedidos"]}}</td>
                <td>{{t["estadopedido"]}}</td>
                <!--  -->
                <td>{{t["producto"]}}</td>
                <td>{{t["preciocosto"]}}</td>
                <td>{{t["cantidad"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script>
      $(document).ready(function () {
        $("#tblPedidos").DataTable({
          language: {
            url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
          },
          scrollY: true,
          scrollX: true,
        });
      });
    </script>

    {% include 'pie.html' %}
  </body>
</html>
